<div class="container mt-5">
  <h2>Product List</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let product of products">
      <h5>{{ product.name }}</h5>
      <p>Description: {{ product.description }}</p>
      <p>Price: ${{ product.price }}</p>
      <p>Stock: {{ product.stock }}</p>
      <button class="btn btn-primary" (click)="editProduct(product.id)">Edit</button>
      <button class="btn btn-danger" (click)="deleteProduct(product.id)">Eliminar</button>
    </li>
  </ul>
</div>
